.app {
  padding: 20px;
  text-align: center;
}

.bus-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  margin-bottom: 20px;
}

.seats {
  display: flex;
  flex-direction: column;
}

.seat-row {
  display: flex;
  align-items: center;  /* Centrer les sièges et le couloir */
}

.seat {
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  /* background-color: lightgrey; */
  /* border: 1px solid #ccc; */
  cursor: pointer;
}

.seat.occupied {
  background-color: red;
}

.aisle {
  width: 20px;  /* Largeur du couloir */
  height: 50px; /* Hauteur du couloir pour correspondre à celle des sièges */
  background-color: #ddd; /* Couleur du couloir */
  margin: 5px 15px;
}
.door {
  width: 30px; /* Ajustez la taille selon vos besoins */
  height: 50px; /* Hauteur pour correspondre à celle des sièges */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Taille de l'emoji */
  background-color: #ddd; /* Couleur de fond de la porte */
}
.empty-seat {
  width: 50px; /* Ajustez selon la taille de vos sièges */
  height: 50px; /* Ajustez selon la taille de vos sièges */
  background-color: transparent; /* Transparent */
  display: inline-block; /* Pour qu'il se comporte comme un siège */
  margin: 10px 5px;
}
